
.error-msg{
    color:#f50;
    padding-left: 10px;
    padding-top: 10px;
}
.am-tab-bar{
    height: auto !important;
    position: fixed;
    bottom: 0;
    width: 100%;  
}
.fixed-header .am-navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.page-content{
    padding: 45px 45px;
}

/*
聊天页面的css
*/
#chat-page .chat-me .am-list-extra{
    flex-basis: auto; 
}
#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right;
}
.stick-footer{
    z-index: 10; /*聊天的输入框在页面的最顶层*/
    position: absolute;
    bottom: 0;
    width: 100%;
}